:root {
  --background-color: #1c1c38;
  --tab-background: #262648;
  --tab-border: #4d4d86;
  --text-color: #ffffff;
  --accent-color: #6c3da3;
  --font-family: 'Roboto', sans-serif;
}

:root.blueneon {
  --background-color: #001A33; 
  --tab-background: #00203C; 
  --tab-border: #00A3E0;
  --text-color: #FFFFFF; 
  --accent-color: #00A6FB; 
}

:root.sunset {
  --background-color: #fce6cf;
  --tab-background: #ffd9b3;
  --tab-border: #e27d60;
  --text-color: #2c3e50;
  --accent-color: #ffb6b9;
}

:root.light {
  --background-color: #eae7f5;
  --tab-background: #f0ebfa;
  --tab-border: rgba(126, 124, 248, 0.152);
  --text-color: #1d1d1d;
  --accent-color: #c3a9e3;
}
:root.ocean {
  --background-color: #003366;
  --tab-background: #005cbf;
  --tab-border: #0077cc;
  --text-color: #ffffff;
  --accent-color: #00a1ff;
}

:root.crimsonblaze {
  --background-color: #2c0104;
  --tab-background: #492727;
  --tab-border: #854c4c;
  --text-color: #ffffff;
  --accent-color: #db0f0f;
}

:root.amoled {
  --background-color: #000000;
  --tab-background: #000000;
  --tab-border: #ffffff;
  --text-color: #ffffff;
  --accent-color: #f2f2f2;
}

:root.crimsonpurple {
  --background-color: #2a0238;
  --tab-background: #3d2749;
  --tab-border: #734c85;
  --text-color: #ffffff;
  --accent-color: #583163;
}

:root.immortal {
  --background-color: #083344;
  --tab-background: #0a3b4f;
  --tab-border: #0E7490;
  --text-color: #ffffff;
  --accent-color: #0891B2;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.error-code {
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.error-message {
  font-size: 36px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  margin-bottom: 30px;
}

.home-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--tab-background);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.home-link:hover {
  background-color: var(--tab-border);
}
