body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  font-size: 16px;
}

h1{
  margin-bottom: 0;
  margin-top: 1vw;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom:5vw;
  justify-content: center;
  padding: 20px;
}

.game {
  position: relative;
  overflow: hidden;
  cursor:pointer;
  width: 200px;
  margin: 10px;
  background-color: var(--tab-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.game:hover {
  transform: scale(1.05);
}

.game-logo {
  width: 100%;
  height: 175px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.game-title{
  padding-bottom: 5px;
  vertical-align: text-top;

}

.game-content {
  padding: 15px;
}

.game-name {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  text-align:center;
  vertical-align: text-top;
}

.back-button{
  vertical-align: text-top;
}

.game-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#searchInput {
  padding: 10px;
  border: 2px solid var(--tab-border);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--tab-background);
  transition: border-color 0.2s ease;
  width: 250px;
}

#searchInput::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

#searchInput:focus {
  outline: none;
  border-color: var(--accent-color);
}

.iframe-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.back-button {
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: var(--text-color);
  cursor: pointer;
}

.game-iframe {
  width: 100%;
  height: 95%;
  border: none;
}

.game-title {
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  color: var(--text-color);
}

#game-text-name {
  margin-top: -15px;
}
