:root {
  --background-color: #1c1c38;
  --tab-background: #262648;
  --tab-border: #4d4d86;
  --text-color: #ffffff;
  --accent-color: #6c3da3;
}

:root.light {
  --background-color: #f0e8f9;
  --tab-background: #262648;
  --tab-border: #4d4d86;
  --text-color: #333;
  --accent-color: #8f6caf;
}

:root.blueneon {
  --background-color: #001a33;
  --tab-background: #00203c;
  --tab-border: #00a3e0;
  --text-color: #ffffff;
  --accent-color: #00a6fb;
}

:root.sunset {
  --background-color: #fce6cf;
  --tab-background: #ffd9b3;
  --tab-border: #e27d60;
  --text-color: #2c3e50;
  --accent-color: #ffb6b9;
}

:root.ocean {
  --background-color: #003366;
  --tab-background: #005cbf;
  --tab-border: #0077cc;
  --text-color: #ffffff;
  --accent-color: #00a1ff;
}

:root.crimsonblaze {
  --background-color: #2c0104;
  --tab-background: #492727;
  --tab-border: #854c4c;
  --text-color: #ffffff;
  --accent-color: #db0f0f;
}

:root.amoled {
  --background-color: #000000;
  --tab-background: #000000;
  --tab-border: #ffffff;
  --text-color: #ffffff;
  --accent-color: #f2f2f2;
}
:root.crimsonpurple {
  --background-color: #2a0238;
  --tab-background: #3d2749;
  --tab-border: #734c85;
  --text-color: #ffffff;
  --accent-color: #583163;
}

:root.immortal {
  --background-color: #083344;
  --tab-background: #0a3b4f;
  --tab-border: #0e7490;
  --text-color: #ffffff;
  --accent-color: #0891b2;
}

#custom-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#custom-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
}

#custom-menu li {
  margin: 10px 0;
}

#custom-menu li a {
  color: var(--main-text-color);
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
}

#custom-menu li a i {
  margin-right: 5px;
}

#custom-menu li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#custom-menu li:hover a {
  color: var(--main-text-color);
}

#custom-menu li:focus {
  outline: none;
}

#custom-menu li:focus a {
  color: var(--main-text-color);
}
