body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 36px;
  padding-bottom: 0;
  color: var(--accent-color);
}

.subtitle {
  font-size: 18px;
  margin-bottom: 25px;
  margin: 0 auto;
  max-width: 70%;
}

.container {
  display: flex;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

.feature {
  padding: 10px;
  border: 2px solid var(--tab-border);
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feature:hover {
  background-color: var(--tab-background);
}

.social-icons {
  display: flex;
  bottom: 0;
  margin-top: 20px;
  justify-content: center;
}

.social-icon {
  font-size: 24px;
  margin: 0 10px;
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
}

.social-icon:hover::before {
  content: attr(data-name);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--tab-background);
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.social-icon:hover::after {
  content: "\2022";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--tab-background);
  font-size: 14px;
}
