:root {
  --background-color: #060611;
  --tab-background: #06060e;
  --tab-border: #7939b5;
  --text-color: #ffffff;
  --accent-color: #ba7df2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  animation: fadeIn 1.5s ease-out;
  background-image: radial-gradient(circle, var(--background-color), var(--background-color), var(--background-color), var(--tab-border), var(--background-color), var(--background-color), var(--background-color), var(--background-color), var(--background-color), var(--background-color), var(--background-color), var(--background-color), var(--background-color));
  overflow: hidden;
}

.container {
  padding: 2rem;
  animation: slideIn 1.2s ease-out;
}

.heading h1 {
  font-size: 5rem;
  font-weight: 600;
  background: linear-gradient(90deg, var(--accent-color), var(--text-color));
  -webkit-background-clip: text;
  color: transparent;
  animation: textIn 1.5s ease-out;
}

.heading span {
  color: var(--accent-color);
}

h2 {
  font-size: 1.5rem;
  opacity: 0.9;
}

.developers {
  margin: 10px 0 20px;
  font-size: 0.9rem;
  opacity: 0.9;
}

.social-orbit {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
  opacity: 0;
  animation: fadeInUp 1s 0.5s forwards;
}

.social-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tab-background);
  border: 2px solid var(--tab-border);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  cursor:pointer;
}

.social-icon:hover {
  background: var(--tab-border);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.social-icon svg {
  width: 28px;
  height: 28px;
  fill: var(--text-color);
  transition: 0.3s ease-in-out;
}

.social-icon:hover svg {
  fill: var(--background-color);
}

/* Load-in animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textIn {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
