* {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 6, 17, 0.97);
  z-index: 9999; 
}

.cell-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.loading-cell {
  width: 20px;
  height: 20px;
  background-color: var(--tab-border);
  transition: background-color 0.3s, transform 0.3s;
}

.loading-cell.loaded {
  background-color: var(--accent-color);
  transform: scale(1.2);
}

.loading-text {
  font-size: 16px;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}


@keyframes fadeIn {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

#tabs-container {
  background-color: var(--tab-background);
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.tab {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 10%;
  min-width: 125px;
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  background-color: var(--tab-background);
  color: var(--text-color);
  border: 1px solid var(--tab-border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.tab-title {
  flex: 1;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  margin-left: 5px;
  align-self: center;
  text-overflow: ellipsis;
}

.tab.active {
  background-color: var(--tab-border);
}

.tab-icon {
  width: 24px;
  height: 24px;
  align-items: center;
  align-self: center;
  padding: 0;
}

.close-tab-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 15px;
  padding: 0 3px;
  color: var(--text-color);
  transition: background-color 0.4s;
}

.close-tab-button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.addtab-btn {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 13px;
  padding: 8px;
  margin-right: 5px;
  color: var(--text-color);
  transition: background-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addtab-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#header {
  background-color: var(--tab-background);
  display: flex;
  align-items: center;
  padding: 5px;
  padding-top: 0;
  position: relative;
}

.control-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 13px;
  padding: 5px;
  margin-right: 5px;
  color: var(--text-color);
  transition: background-color 0.4s;
}

.control-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.control-button span {
  font-size: 20px;
}

.menu-button {
  padding: 5px;
  border-radius: 50%;
  color: var(--text-color);
  margin-right: 5px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.menu-button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#search-bar {
  flex: 1;
  padding: 8px;
  width: 98.35%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  border: 1px solid var(--tab-border);
  border-radius: 20px;
  color: var(--text-color);
  background-color: var(--tab-background);
}

#iframes-container {
  height: calc(100% - 92px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

iframe {
  flex: 1;
  display: none;
  width: 100%;
  border: none;
}

iframe.active {
  display: block;
  animation: 0.1s fade-in ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#bookmarks-container {
  background-color: var(--tab-background);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  gap: 10px;
  align-items: center;
}

.bookmark {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px 10px;
  border: 1px solid var(--tab-border);
  border-radius: 5px;
}

.bookmark i {
  margin-right: 10px;
  color: var(--accent-color);
}

.bookmark:hover {
  background-color: var(--tab-background);
}

.fas.fa-ellipsis-h {
  transform: rotate(90deg);
}

#menu-container {
  position: absolute;
  right: 15px;
  background-color: var(--tab-background);
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  flex-direction: column;
  z-index: 1;
}

.menu-item {
  padding: 5px;
  cursor: pointer;
  color: var(--text-color);
}

#menu-container {
  display: flex;
}

.zoom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoom-text {
  font-size: 14px;
  color: var(--text-color);
  margin-right: 10px;
}

.zoom-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: var(--text-color);
  margin-right: 10px;
  transition: color 0.4s;
}

.zoom-button:hover {
  color: var(--accent-color);
}

.fullscreen-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: var(--text-color);
  transition: color 0.4s;
}

.fullscreen-button:hover {
  color: var(--accent-color);
}

.dropdown-content {
  position: absolute;
  background-color: var(--tab-background);
  color: var(--text-color);
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  padding-top: 0;
  text-align: left;
  right: 5px;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  font-family: "Poppins", sans-serif;
  padding: 8px 0;
  transition: background-color 0.3s;
}

.dropdown-content button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-content button {
  background-color: transparent;
  color: var(--text-color);
  padding: 4px 8px;
  border: none;
  width: 200px;
  text-align: left;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.dropdown-content button i {
  margin-right: 5px;
}

.separator {
  border-top: 1px solid grey;
  margin: 1px 0;
  padding: 0;
}

@keyframes fadeIn {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.inputcontainermain {
  width: 100%;
}

.context-menu {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-color);
  border: 1px solid var(--tab-border);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.context-menu .menu-item {
  list-style: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.context-menu .menu-item:hover {
  background-color: var(--tab-border);
  border-radius: 5px;
}

.powered-by-container {
  outline: none;
  position: fixed;
  border-radius: 5px;
  margin: 7.5px;
  z-index: 9999;
  cursor: pointer;
  padding: 5px;
  color: black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
}

.powered-by-container img {
  width: 25px;
  height: 25px;
  margin-right: 7.5px;
}

.powered-by-text {
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.extensions_disclaimer {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  color: var(--text-color);
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.extensions_disclaimer_content {
  text-align: center;
}

.buttons {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

.continue-button,
.cancel-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.cancel-button {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--tab-border);
}

.continue-button:hover,
.cancel-button:hover {
  filter: brightness(1.2);
}

label {
  color: var(--text-color);
  display: block;
  margin-top: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

span {
  vertical-align: text-top;
}

svg.icons>path {
  fill: var(--text-color);
}

.icons {
  vertical-align: text-top;
  stroke-width: 20px;
  stroke: var(--text-color);
}