* {
  outline: none;
}

:root {
  --background-color: #1c1c38;
  --tab-background: #262648;
  --tab-border: #4d4d86;
  --text-color: #ffffff;
  --accent-color: #6c3da3;
}

:root.blueneon {
  --background-color: #001A33; 
  --tab-background: #00203C; 
  --tab-border: #00A3E0;
  --text-color: #FFFFFF; 
  --accent-color: #00A6FB; 
}


:root.light {
  --background-color: #eae7f5;
  --tab-background: #f0ebfa;
  --tab-border: rgba(126, 124, 248, 0.152);
  --text-color: #1d1d1d;
  --accent-color: #c3a9e3;
}

:root.sunset {
  --background-color: #fce6cf;
  --tab-background: #ffd9b3;
  --tab-border: #e27d60;
  --text-color: #2c3e50;
  --accent-color: #ffb6b9;
}

:root.ocean {
  --background-color: #003366;
  --tab-background: #005cbf;
  --tab-border: #0077cc;
  --text-color: #ffffff;
  --accent-color: #00a1ff;
}

:root.crimsonblaze {
  --background-color: #2c0104;
  --tab-background: #492727;
  --tab-border: #854c4c;
  --text-color: #ffffff;
  --accent-color: #db0f0f;
}

:root.crimsonpurple {
  --background-color: #2a0238;
  --tab-background: #3d2749;
  --tab-border: #734c85;
  --text-color: #ffffff;
  --accent-color: #583163;
}


:root.amoled {
  --background-color: #000000;
  --tab-background: #000000;
  --tab-border: #ffffff;
  --text-color: #ffffff;
  --accent-color: #f2f2f2;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--accent-color), var(--tab-background));
  border-radius: 0;
  text-align: center;
  z-index: 9999;
}


.dot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-dots {
  font-size: 30px;
  color: var(--text-color);
  margin: 0 5px;
  z-index: 9999;
  top: 50%;
  left: 50%;
  animation: bounce 1s infinite;
}

.loading-dots:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots:nth-child(3) {
  animation-delay: 0.4s;
}

.loading-text {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  margin-top: 10px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes fadeIn {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#tabs-container {
  background-color: var(--tab-background);
  display: flex;
  overflow-x: auto;
  padding: 10px;
}

.tab {
  display: flex;
  align-items: center; 
  max-width: 250px;
  padding: 8px 16px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--tab-background);
  color: var(--text-color);
  border: 1px solid var(--tab-border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.tab-title {
  flex: 1;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  align-self:center;
  text-overflow: ellipsis;
}

.active {
  background-color: var(--tab-border);
}

.favicon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  align-items: center;
  align-self:center;
  padding: 0;
}

.close-tab-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 15px;
  padding: 0 3px;
  color: var(--text-color);
  transition: background-color 0.4s;
}

.close-tab-button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}



#header {
  background-color: var(--tab-background);
  display: flex;
  align-items: center;
  padding: 5px;
  padding-top: 0;
  position: relative;
}

.control-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  padding: 5px;
  margin-right: 10px;
  color: var(--text-color);
  transition: background-color 0.4s;
}

.control-button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#search-bar {
  flex: 1;
  padding: 8px;
  width:99%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid var(--tab-border);
  border-radius: 20px;
  color: var(--text-color);
  background-color: var(--tab-background);
}

#iframes-container {
  height: calc(100% - 92px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

iframe {
  flex: 1;
  display: none;
  width: 100%;
  border: none;
}

iframe.active {
  display: block;
  animation: .1s fade-in ease-in 
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#bookmarks-container {
  background-color: var(--tab-background);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  gap: 10px;
  align-items: center;
}

.bookmark {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px 10px;
  border: 1px solid var(--tab-border);
  border-radius: 5px;
}

.bookmark i {
  margin-right: 10px;
  color: var(--accent-color);
}

.bookmark:hover {
  background-color: var(--tab-background);
}

.fas.fa-ellipsis-h {
  transform: rotate(90deg);
}
#menu-container {
  position: absolute;
  right: 15px;
  background-color: var(--tab-background);
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  flex-direction: column;
  z-index: 1;
}

.menu-item {
  padding: 5px;
  cursor: pointer;
  color: var(--text-color);
}

#menu-button:hover + #menu-container {
  display: flex;
}

.zoom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zoom-text {
  font-size: 14px;
  color: var(--text-color);
  margin-right: 10px;
}

.zoom-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: var(--text-color);
  margin-right: 10px;
  transition: color 0.4s;
}

.zoom-button:hover {
  color: var(--accent-color);
}

.fullscreen-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: var(--text-color);
  transition: color 0.4s;
}

.fullscreen-button:hover {
  color: var(--accent-color);
}

.dropdown-content {
  position: absolute;
  background-color:var(--tab-background);
  color: var(--text-color);
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  padding-top:0;
  text-align: left;
  right:5px;
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  color:var(--text-color);
  display: block;
  font-family: 'Poppins', sans-serif;
  padding: 8px 0;
  transition: background-color 0.3s;
}

.dropdown-content button:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-content button {
  background-color: transparent;
  color: var(--text-color);
  padding: 4px 8px;
  border: none;
  width:100%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.dropdown-content button i{
  margin-right: 5px;  
}

.separator {
  border-top: 1px solid grey;
  margin: 1px 0;
  padding: 0;
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.inputcontainermain {
  width:100%;
}

.context-menu {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-color);
  border: 1px solid var(--tab-border);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.context-menu .menu-item {
  list-style: none;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.context-menu .menu-item:hover {
  background-color: var(--tab-border); 
  border-radius: 5px;
}




.powered-by-container {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  margin:7.5px;
  z-index: 9999;
  cursor:pointer;
  padding: 5px;
  color:black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.45);
  display: flex;
  align-items: center;
}

.powered-by-container img {
  width: 25px;
  height: 25px;
  margin-right: 7.5px;
}

.powered-by-text {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}