:root {
  --background-color: #1c1c38;
  --tab-background: #262648;
  --tab-border: #4d4d86;
  --text-color: #ffffff;
  --accent-color: #6c3da3;
}

:root.light {
  --background-color: #eae7f5;
  --tab-background: #f0ebfa;
  --tab-border: rgba(126, 124, 248, 0.152);
  --text-color: #1d1d1d;
  --accent-color: #c3a9e3;
}

:root.blueneon {
  --background-color: #001A33; 
  --tab-background: #00203C; 
  --tab-border: #00A3E0;
  --text-color: #FFFFFF; 
  --accent-color: #00A6FB; 
}

:root.sunset {
  --background-color: #fce6cf;
  --tab-background: #ffd9b3;
  --tab-border: #e27d60;
  --text-color: #2c3e50;
  --accent-color: #ffb6b9;
}

:root.ocean {
  --background-color: #003366;
  --tab-background: #005cbf;
  --tab-border: #0077cc;
  --text-color: #ffffff;
  --accent-color: #00a1ff;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -10% auto;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

h1 {
  font-size: 82px;
  color: var(--text-color);
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--tab-border);
  border-radius: 20px;
  padding: 0px 10px;
  margin-top: -3%;
  width:30vw;
  background-color: var(--tab-background);
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  width:27vw;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--tab-background);
}

.search-icon {
  background-size: cover;
  margin: 15px 10px;
  color: var(--tab-border);
}



.shortcuts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color 0.3s;
  border-radius: 5px;
  padding: 5px;
  height: 90px;
}


.shortcut:hover {
  background-color: rgba(0,0,0,0.3);
  cursor:pointer;
}

.shortcut img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.shortcut p {
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;

  color: var(--text-color);
}

.add img{
  background-color: var(--tab-background);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: var(--background-color);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  color: var(--text-color);
}

.modal h2 {
  color: var(--text-color);
}

.close {
  color: var(--text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: var(--accent-color);
}

#shortcut-form,
#edit-shortcut-form {
  display: flex;
  flex-direction: column;
}

#shortcut-form label,
#edit-shortcut-form label {
  color: var(--text-color);
  margin-top: 10px;
}

#shortcut-form input,
#edit-shortcut-form input {
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
}

#add-shortcut,
#edit-shortcut {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}

#add-shortcut:hover {
  background-color: var(--tab-border);
}

#shortcut-context-menu {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: var(--tab-background);
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 8px;
  width:fit-content;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}


.shortcut-context-menu ul {
  text-decoration: none;
  list-style: none;
}

.context-menu ul{
  list-style-type: none;
  list-style: none;
}

.context-menu  li{
  border:3px;
  padding:5px;
  list-style-type: none;
  list-style: none;
  cursor:pointer;
}

.context-menu li:hover{
  background-color: rgba(0, 0, 0, 0.2);

}

