
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  display: flex;
}

#sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid var(--tab-border);
  margin-top: 20px; 
  margin-bottom: 20px; 
  height: 85%;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius:5px;
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: rgba(0,0,0,0.25);
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
}

.menu-label {
  font-size: 18px;
}

#content {
  flex: 1;
  margin-top: 10px; 
  margin-bottom: 20px; 
  padding: 20px;
  max-height: 85%;
  width: 65vw;
  overflow-y:scroll;
  color: var(--text-color);
  transition: all 0.4s;
}

#content::-webkit-scrollbar {
  width: 12px;
}

#content::-webkit-scrollbar-track {
  background: var(--tab-background);
}

#content::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
}

#content::-webkit-scrollbar-thumb:hover {
  background-color: lighten(var(--accent-color), 10%);
}

.menu-item:hover + #content {
  background-color: var(--accent-color);
}

.content-title {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--accent-color);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
}


.buttons {
  display: flex;
  justify-content: space-between;
}

button{
  font-family: 'Poppins', sans-serif;

}

.input-field {
  width: 45%;
  padding: 5px;
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  background-color: var(--tab-background);
}

.input-field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.select-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.select-buttons .icon-button,  .icon-button {
  background: var(--accent-color);
  color: var(--text-color);
  border: none;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.4s;
}

.icon-button:hover {
  background-color:var(--accent-color);
  text-decoration: none;
}


.select-buttons button {
  background: none;
  color: var(--accent-color);
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}


.input-field select {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--tab-background);
}

.input-field select:focus {
  outline: none;
  border-color: var(--accent-color);
}

#themeSelector option{
  padding: 5px 10px;
  font-family: 'Poppins', sans-serif;
}

select option{
  font-family: 'Poppins', sans-serif;
}

.box {
  background-color: var(--tab-background);
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Rubik', sans-serif;
  margin: 0px 5px;
}

.box-header {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

.tag {
  font-size: 14px;
  color: var(--accent-color);
}

.status {
  display: flex;
  align-items: center;
  margin-top: -40px;

}

.flashing-light {
  width: 10px;
  height: 10px;
  background-color: #00ff00; 
  border-radius: 50%;
  margin-right: 5px;
}

.online-text {
  font-size: 14px;
  color: var(--text-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
  width: 40px;
  height: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(20px);
}