:root {
  --background-color: #1c1c38;
  --tab-background: #262648;
  --tab-border: #4d4d86;
  --text-color: #ffffff;
  --accent-color: #6c3da3;
}

:root.blueneon {
  --background-color: #001A33; 
  --tab-background: #00203C; 
  --tab-border: #00A3E0;
  --text-color: #FFFFFF; 
  --accent-color: #00A6FB; 
}

:root.sunset {
  --background-color: #fce6cf;
  --tab-background: #ffd9b3;
  --tab-border: #e27d60;
  --text-color: #2c3e50;
  --accent-color: #ffb6b9;
}

:root.ocean {
  --background-color: #003366;
  --tab-background: #005cbf;
  --tab-border: #0077cc;
  --text-color: #ffffff;
  --accent-color: #00a1ff;
}

:root.crimsonblaze {
  --background-color: #2c0104;
  --tab-background: #492727;
  --tab-border: #854c4c;
  --text-color: #ffffff;
  --accent-color: #db0f0f;
}

:root.light {
  --background-color: #eae7f5;
  --tab-background: #f0ebfa;
  --tab-border: rgba(126, 124, 248, 0.152);
  --text-color: #1d1d1d;
  --accent-color: #c3a9e3;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  overflow: hidden;
  display: flex;
}

#sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid var(--tab-border);
  margin-top: 20px; 
  margin-bottom: 20px; 
  height: 75%;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius:5px;
  cursor: pointer;
  color: var(--text-color);
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: rgba(0,0,0,0.25);
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
}

.menu-label {
  font-size: 18px;
}

#content {
  flex: 1;
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding: 20px;
  color: var(--text-color);
  transition: background-color 0.4s;
}

.menu-item:hover + #content {
  background-color: var(--accent-color);
}

.content-title {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--accent-color);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
}


.buttons {
  display: flex;
  justify-content: space-between;
}

.input-field {
  width: 45%;
  padding: 5px;
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--tab-background);
}

.input-field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.select-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.select-buttons .icon-button,  .icon-button {
  background: var(--accent-color);
  color: var(--text-color);
  border: none;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.4s;
}

.icon-button:hover {
  background-color:var(--accent-color);
  text-decoration: none;
}


.select-buttons button {
  background: none;
  color: var(--accent-color);
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.input-field select {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--tab-background);
}

.input-field select:focus {
  outline: none;
  border-color: var(--accent-color);
}

.box {
  background-color: var(--tab-background);
  border: 1px solid var(--tab-border);
  border-radius: 5px;
  padding: 10px 20px;
  font-family: 'Rubik', sans-serif;
  margin: 0px 5px;
}

.box-header {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

.tag {
  font-size: 14px;
  color: var(--accent-color);
}

.status {
  display: flex;
  align-items: center;
  margin-top: -40px;

}

.flashing-light {
  width: 10px;
  height: 10px;
  background-color: #00ff00; 
  border-radius: 50%;
  margin-right: 5px;
}

.online-text {
  font-size: 14px;
  color: var(--text-color);
}