:root {
    --background-color: #1c1c38;
    --tab-background: #262648;
    --tab-border: #4d4d86;
    --text-color: #ffffff;
    --accent-color: #6c3da3;
  }

:root.light {
    --background-color: #F0E8F9;
    --tab-background: #262648;
    --tab-border: #4d4d86;
    --text-color: #333;
    --accent-color: #8F6CAF;
}

:root.blueneon {
    --background-color: #001A33;
    --tab-background: #00203C;
    --tab-border: #00A3E0;
    --text-color: #FFFFFF;
    --accent-color: #00A6FB;
}

:root.sunset {
    --background-color: #fce6cf;
    --tab-background: #ffd9b3;
    --tab-border: #e27d60;
    --text-color: #2c3e50;
    --accent-color: #ffb6b9;
}

:root.ocean {
    --background-color: #003366;
    --tab-background: #005cbf;
    --tab-border: #0077cc;
    --text-color: #ffffff;
    --accent-color: #00a1ff;
}

:root.crimsonblaze {
    --background-color: #2c0104;
    --tab-background: #492727;
    --tab-border: #854c4c;
    --text-color: #ffffff;
    --accent-color: #db0f0f;
}

:root.amoled {
    --background-color: #000000;
    --tab-background: #000000;
    --tab-border: #ffffff;
    --text-color: #ffffff;
    --accent-color: #f2f2f2;
}

:root.crimsonpurple {
    --background-color: #2a0238;
    --tab-background: #3d2749;
    --tab-border: #734c85;
    --text-color: #ffffff;
    --accent-color: #583163;
}

:root.immortal {
    --background-color: #083344;
    --tab-background: #0a3b4f;
    --tab-border: #DBEAFE;
    --text-color: #93C5FD;
    --accent-color: #0891B2;
}