:root {
    --background: linear-gradient(145deg, #010310, #080c17);
    --home-bg:url("/assets/imgs/backgrounds/home/blue.jpg");
    --primary: #01031d;
    --primary-dark: #0c0015;
    --secondary: #0a0e1a;
    --accent: #3b82f6;
    --accent-light: #93c5fd;
    --accent-glow: rgba(59, 130, 246, 0.2);
    --border: rgba(59, 130, 246, 0.3);
    --text: #e0f2fe;
    --text-muted: #bae6fd;
    --hover-danger: #f87171;
    --active-tab: linear-gradient(145deg, #1e3a8a, var(--secondary));
  }