:root {
  --background-color: #060611;
  --tab-background: #0e0e1d;
  --tab-border: #372754;
  --text-color: #ffffff;
  --accent-color: #ba7df2;
}

:root.light {
  --background-color: #1c1c38;
  --tab-background: #262648;
  --tab-border: #4d4d86;
  --text-color: #ffffff;
  --accent-color: #6c3da3;
}

:root.noctura {
  --background-color: #0b0b1a;
  --tab-background: #0b0b1a;
  --tab-border: #6161c7;
  --text-color: #ccc;
  --accent-color: #9fb2ff;
}

:root.sapphire {
  --background-color: #010a13;
  --tab-background: #010f1a;
  --tab-border: #00b3ff; 
  --text-color: #e0f7ff; 
  --accent-color: #00d4ff; 
}

:root.sunset {
  --background-color: #2c061f;
  --tab-background: #450920;
  --tab-border: #d1421b;    
  --text-color: #f0c3b0;
  --accent-color: #ff784e;
}


:root.ruby {
  --background-color: #1a0002;
  --tab-background: #240001;
  --tab-border: #663838;
  --text-color: #e6e6e6;
  --accent-color: #b50909;
}

:root.amoled {
  --background-color: #000000;
  --tab-background: #000000;
  --tab-border: #ffffff;
  --text-color: #ffffff;
  --accent-color: #f2f2f2;
}

:root.darkocean {
  --background-color: #000d17;
  --tab-background: #00192c;
  --tab-border: #2e4f6a;
  --text-color: #e0e0e0;
  --accent-color: #1fc0b3;
}

:root.forestwhisper {
  --background-color: #021402;
  --tab-background: #0e2609;
  --tab-border: #3a5f40;
  --text-color: #d4e1d1;
  --accent-color: #6bd175;
}



:root.midnightshadow {
  --background-color: #0d1021;
  --tab-background: #191e3d;
  --tab-border: #6f7ff1;
  --text-color: #ffffff;
  --accent-color: #eebbc3;
}


:root.oceanicdive {
  --background-color: #012a36;
  --tab-background: #024959;
  --tab-border: #03738c;
  --text-color: #d1e8e2;
  --accent-color: #04a8c6;
}

:root.earthybrown {
  --background-color: #3e2c1c;
  --tab-background: #5e4634;
  --tab-border: #8c6a55;
  --text-color: #f4f1ee;
  --accent-color: #c79a6b;
}

:root.arcticchill {
  --background-color: #1c2c3a;
  --tab-background: #2e4c5e;
  --tab-border: #557a8c;
  --text-color: #e6f1f4;
  --accent-color: #45aee2;
}

:root.autumnspice {
  --background-color: #3a271c;
  --tab-background: #5e422f;
  --tab-border: #8c6a59;
  --text-color: #f6e6df;
  --accent-color: #e28956;
}

:root.berrybliss {
  --background-color: #3a1c2e;
  --tab-background: #5e2e4c;
  --tab-border: #8c557a;
  --text-color: #f6e6f4;
  --accent-color: #e24592;
}

:root.deepsea {
  --background-color: #1c233a;
  --tab-background: #2e355e;
  --tab-border: #555a8c;
  --text-color: #e6e6f4;
  --accent-color: #4560e2;
}

:root.freshlime {
  --background-color: #2a3a1c;
  --tab-background: #4c5e2e;
  --tab-border: #7a8c55;
  --text-color: #f1f4e6;
  --accent-color: #aee245;
}

:root.mysticpurple {
  --background-color: #2c1c3a;
  --tab-background: #4c2e5e;
  --tab-border: #7a558c;
  --text-color: #f1e6f4;
  --accent-color: #c045e2;
}

:root.midnightsparkle {
  --background-color: #000000; 
  --tab-background: #1c1c2f; 
  --tab-border: #4f4f70;  
  --text-color: #f0f0f0;   
  --accent-color: #d1caff;   
}
