* {
  outline: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: white;
}

header {
  color: #333;
  padding: 10px 20px;
  transition: padding 0.3s ease;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo i {
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
  color: #444;
}

nav ul {
  list-style: none;
  display: flex;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 15px;
  position: relative;
  transition:
    color 0.3s ease,
    border-bottom-color 0.3s ease;
}

nav a:hover {
  color: #3498db;
}

nav a:active {
  color: #3498db;
  border-bottom-color: #3498db;
}

.search-container {
  display: flex;
  background-color: #f0f0f0;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
  transition: box-shadow 0.3s ease;
}

.search-input {
  padding: 10px;
  border: none;
  width: 250px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  box-shadow: none;
  transition: none;
  outline: none;
}

.search-input:focus + .search-icon,
.search-container:focus-within {
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.7);
}

.search-icon {
  color: #333;
  margin-left: 10px;
  cursor: pointer;
}

.hero-section {
  background: url("https://ssl.gstatic.com/chrome/webstore/images/promo/marquee_blue_patterned.png")
    center/cover no-repeat;
  /* Updated background property */
  color: #000;
  width: 80vw;
  border-radius: 15px;
  margin: 2vw auto;
  min-height: 250px;
  padding: 60px 20px;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: -3vw auto;
  /* Adjusted margin */
  padding: 0;
  text-align: center;
}

.hero-content h2 {
  font-size: 28px;
  margin-top: 3vw;
}

.hero-content p {
  margin-top: -1vw;
}

.extensions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.extensions img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.extensions img:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

button {
  padding: 10px 20px;
  margin-top: 1vw;
  border: 1px solid black;
  background: transparent;
  color: black;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
}

.extension-add {
  margin-top: 20px;
  width: 80vw;
  margin: 0 auto;
  background-color: #aed6f1;
  padding: 20px;
  border-radius: 10px;
}

.extension-add h2 {
  text-align: center;
  font-size: 24px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.row input,
textarea {
  padding: 10px;
  width: 45%;
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.extension-add button {
  padding: 10px 20px;
  background-color: #27ae60;
  margin: 0 auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.extension-add button:hover {
  background-color: #219d3e;
}

.btns {
  display: flex;
  justify-content: center;
  width: 10vw;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 10px;
}

footer p {
  margin: 0;
}

footer a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #2980b9;
}
